[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for london images hd
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj83-3P4N7gAhW05OAKHaLoAWUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.itv.com%2Fnews%2F2014-11-06%2Fboris-johnson-poppies-should-stay-at-tower-of-london%2F&psig=AOvVaw1W7BMIRHd4bWuK700Esrx4&ust=1551454407527269
Icon=text-html
