[Desktop Entry]
Encoding=UTF-8
Name=Link to Image result for london images hd
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiFnoqg4N7gAhVRDWMBHbUYDiUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F592716000933627953%2F&psig=AOvVaw1W7BMIRHd4bWuK700Esrx4&ust=1551454407527269
Icon=text-html
